@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

:root {
}

body {
  font-family: "Sigmar One", serif;
  font-weight: 400;
  color: #fff;
  overflow-x: hidden;
  background: #f4b436;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

small {
  color: #fff;
  font-size: 10px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  a {
    color: #fff;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  transition: opacity 0.6s;

  &.is-visible {
    opacity: 1;
  }
}

.loader {
  width: 30px;
  aspect-ratio: 1;
  background: #fff;
  position: fixed;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transition: opacity 0.4s;
  animation: l1 1.2s infinite;
  pointer-events: none;

  &.is-hidden {
    opacity: 0;
  }
}


@keyframes l1 {
  0%   {transform: perspective(150px) rotateX(0deg)}
  100% {transform: perspective(150px) rotateX(180deg)}
}


.scroll {
  position: relative
}

.section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%
}

.section__inner {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400vh;

  .section01 & {
    height: 100vh;
  }

  .section04 & {
    height: 100vh;
  }
}

.ttl {
  font-size: min(12vw, 24vh);
  font-weight: 400;
  line-height: 0.9;
  white-space: nowrap;
  opacity: 0;

  filter: url(#filter-ttl);

  &__inner {
    display: block;
    // overflow: hidden;
  }
  &__txts {
    // line-height: 0.9;
    display: inline-block;
    // transform: translateY(100%);
  }
}

.svg-filter {
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
}

h2 {
  font-size: 6vw;
  font-weight: 400;
}